{% extends 'base.html.twig' %}

{% block title %}Hello CourseController!{% endblock %}

{% block body %}
<div>
    {% for course in courses %}
    <div>
        <h2><a href="">{{ course.title }}</a></h2>
        <img src="{{ asset('uploads/course_pictures/' ~ course.coursePicture) }}" alt="">
        <p>{{ course.description }}</p>
    </div>
    {% else %}
    <div>Aucune formation</div>
    {% endfor %}
</div>
{% endblock %}
