{% extends 'base.html.twig' %}

{% block title %}EcoIT - {{ course.title }}{% endblock %}

{% block body %}
{% include('courses/course/_header_course_detail.html.twig') %}
<main class="container">
    <div class="d-flex flex-wrap my-3 py-4">
        {% include('courses/course/_course_contents.html.twig') %}
        {% include('courses/course/_teacher_card.html.twig') %}
    </div>
</main>
{% endblock %}
