<div class="m-4 p-3 w-100">
    <div class="d-flex flex-wrap justify-content-between">
        <h2>{{ quiz.title }}</h2>
        <div>

        </div>
    </div>


    <div class="text-end">
        <a class="btn btn-success" href="">Valider</a>
    </div>
</div>