{% extends 'base.html.twig' %}

{% block title %}EcoIT - {{ lesson.title }}{% endblock %}

{% block body %}
{% include('courses/lesson/_header_lesson.html.twig') %}
<main class="container ">
    <div class="d-flex">
        {% include('courses/lesson/_sidebar_lesson.html.twig') %}
        {% include('courses/lesson/_lesson.html.twig') %}
    </div>
</main>
{% endblock %}
