<!-- START of FILTER BUTTONS -->
<div class="d-flex flex-wrap mb-3">
    <h2 class="col-md-7 mb-3">Notre offre de formations</h2>
    <div class="col-md-5 d-flex align-items-center justify-content-end mb-3">
        {% if app.user and app.user.roles == ['ROLE_STUDENT'] %}
            <div class="dropdown me-2">
                <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-funnel"></i> Filtrer
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" onclick="filterCourses('all')" href="#">Toutes</a></li>
                    <li><a class="dropdown-item" onclick="filterCourses('started')" href="#">En cours</a></li>
                    <li><a class="dropdown-item" onclick="filterCourses('done')" href="#">Terminées</a></li>
                </ul>
            </div>
        {% endif %}
        <form class="">
            <input type="search" class="form-control" placeholder="Rechercher..." aria-label="Rechercher" id="mySearch" onkeyup="searchCourse()">
        </form>
    </div>
</div>
<!-- END of FILTER BUTTONS -->
